




.bigIcons{
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	color:#FFFFFF;
	text-align: center;
}

.bigIcons .seoicon{
	width: 200px;
	height: 200px;
	float:left;
}


.bigIcons .seoicon svg{
	width: 150px;
	height: 150px;
	margin: 10px;
}


.seoicon{
	visibility: hidden;
}

.seoicon svg{
	width: 100%;
	height:100%;
	overflow: visible;
}


.icon-flex, .icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-wrapper {
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid blue;
    font-size: 3rem;
    width: 80px;
    height: 80px;
}
.icon-wrapper i {
    color: blue;
}


/*Colored backgrounds for each one*/
